<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
      <h4>Employee Portal</h4>
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
    </div>
  </div>
  <div class="card-container mt-5">
    <div class="row mt-5">
      <div class="col-3 " *ngFor="let employee of employees">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{employee.empName}}
              </div>
              <div class="col-6 text-end">
                {{employee.empId}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>{{employee.empCode}},
              {{employee.empEmailId}},
              {{employee.empDesignation}}
            </p>
            <p>{{employee.mobile}}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-4">
                <p>{{employee.role}}</p>
              </div>
              <div class="col-8 text-end">
                <button class="btn btn-success me-2" (click)="onEdit(employee)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(employee)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="text-center">
        <h3>No records..</h3>
      </div>
    </ng-template>
  </div>

  <div class="modal" tabindex="-1" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Employee</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <label for="" class="form-label">Name</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empName" placeholder="empName">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="" class="form-label">Id</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empId" placeholder="empId">
            </div>

            <div class="col-6">
              <label for="" class="form-label">EmployeeCode</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empCode" placeholder="empCode">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="" class="form-label">EmailId</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empEmailId" placeholder="empEmailId">
            </div>

            <div class="col-4">
              <label for="" class="form-label">Designation</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empDesignationId" placeholder="empDesignation">
            </div>
            <div class="col-4">
              <label for="" class="form-label">Mobile Number</label>
              <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.empContactNo" placeholder="mobile">
            </div>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Role</label>
            <input type="text" class="form-control" id="" [(ngModel)]="employeeDetailsObj.roleId" placeholder="role">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button *ngIf="employeeObj.empId==0" type="button" class="btn btn-primary" (click)="saveEmployee()">Save Employee</button>
          <button *ngIf="employeeObj.empId!==0" type="button" class="btn btn-success" (click)="updateEmployee()">Update Employee</button>
        </div>
      </div>
    </div>
  </div>

</div> 